<!-- passes value to h1 and title of page -->
<% if (title) { %>
    <h1>
        <%= title %>
    </h1>
    <% } else { res.redirect('/') } %>

        <!-- ability to add a message -->
        <%- messages() %>

        <!-- Display errors if any -->
        <% if (errors) { %>
            <ul class="notice">
                <% errors.array().forEach(error => { %>
                    <li><%= error.msg %></li>
                <% }) %>
            </ul>
        <% } %>

<div id="deleteInventoryFormContainer">
    <form class="deleteInventoryForm" id="deleteForm" action="/inv/delete" method="post">

        <label for="inv_make">Make</label>
        <input type="text" name="inv_make" id="inv_make"
            value="<%= locals.inv_make || '' %>" required pattern="^[A-Za-z\s]+$" 
            readonly>

        <label for="inv_model">Model</label>
        <input type="text" name="inv_model" id="inv_model"
            value="<%= locals.inv_model || '' %>" required pattern="^[A-Za-z0-9\s\-]+$" 
            readonly>

        <label for="inv_year">Year</label>
        <input type="number" name="inv_year" id="inv_year"
            value="<%= locals.inv_year || '' %>" required min="1900" max="2030" 
            readonly>
        
        <label for="inv_price">Price</label>
        <input type="number" name="inv_price" id="inv_price"
            value="<%= locals.inv_price || '' %>" 
            readonly>

        <input type="submit" name="submit" value="Delete Vehicle">
        <input type="hidden" name="inv_id" <% if(locals.inv_id) { %> value="<%= locals.inv_id %>"
            <% } %>>
    </form>
</div>